* {
    padding: 0px;
    margin: 0;
}

header, main, footer {
    display: flex;
}

header>h2{
    color: white;
    width: 100%;
    padding:20px;
}

main, footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
main>div{
    display: flex;
    width: 30%;
    flex-direction: column;
    border-radius: 20px;
    border:2px solid rgb(246, 255, 113);
    margin: 10px;
    padding: 10px;

}
main>div>h2{
    margin-bottom: 20px;
}

header>h2, footer{
    background-color: rgb(253, 82, 82);
}

footer>a{
    text-decoration: none;
    color: white
}

ul{
    list-style: none
}

.recipe{
    margin-bottom: 20px;
}