* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    text-decoration: none;

}

.wrap{
    width: 100%;
    position: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #E50043;
}

li>a{
    color: #E50043;
}

li {
    margin-right: 50px;
    display: inline;
}

li:last-of-type {
    margin-right: 10px;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E50043;

    height: 600px;
    background-color: antiquewhite;
    background: url('./images/evian_origins_logo.png') no-repeat;
    background-size: 100%;

}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px
}

.description, .advanced_description{
    background-color: aliceblue;
    padding: 20px;
    border:2px solid #F8BFC7;
    border-radius: 10px;
}

.description, .advanced_description, .products_item{
    width: 100%;
}

.products_item{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product>p{
    padding: 5px;
}

.advanced_description{
    display: flex;
    justify-content: space-around;
    align-content:space-between;
}

.bottle_description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px
}

footer{
    color: aliceblue;
    padding: 20px;
    position: relative;
    background-color: #F8BFC7;
}