* {
    padding: 0px;
    margin: 0;
}

img{
    margin:-5px 0;
}

ul {
    background-color: rgb(248, 245, 79);
    display: flex;
    padding: 10px 10px;
    margin: 0px;
}

li {
    /* margin: 0px; */
    list-style-type: none;
    padding-left: 15px;
}

h1{
    font-weight: bold;
    background-color: rgb(248, 245, 79);
}

h1, h2, p{
    padding: 20px;
}

footer {
    background-color: rgb(248, 245, 79);
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 10px;
}

footer>a{
    display: contents;
}

.about{
    display: flex;
    flex-direction: column;
}

