* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    text-decoration: none
}

header,
footer {
    background-color: #0000FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header,
footer,
a {
    color: white;
}

main {
    justify-content: center;
}

main>div {
    align-items: center;
    text-align: center;
    max-width: 500px;
    padding: 30px;
    border: solid 5px;
    margin: 10px;
}

header,
main>div,
footer {
    font-weight: bold;
}

/* Макет для мобильных */
@media only screen and (max-width: 413px) {

    main>div {
        font-size: 25px;
        margin: 20px;
    }

    .back {
        display: none;
    }
}

/* Макет для планшетов */
@media only screen and (min-width: 413px) and (max-width: 1440px) {
    main {
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
    }

    main>div {
        display: flex;
        font-size: 30px;
        width: 45%;
    }

}

/* Макет для десктопов */
@media only screen and (min-width: 1440px) {
    main {
        width: 1440px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
    }

    main>div {
        display: flex;
        font-size: 50px;
        width: 45%;
    }
}