* {
    padding: 0px;
    margin: 0;
}

ul {
    padding: 00px 25px;
    margin: 20px 0;
}

h2, p{
    margin: 20px 0;
}

.h_text{
    color: white;
    margin: 30px 0;
    background-color: black;
}

