* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    text-decoration: none
}

h1 {
    text-transform: uppercase
}

h3 {
    padding: 20px 20px 0;
}

p {
    padding: 20px;
}

header,
footer {
    background-color: #FFE138;
    padding: 20px;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 740px;
    margin: 20px auto;
}

main > div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Макет для мобильных */
@media only screen and (max-width: 413px) {
}

/* Макет для планшетов */
@media only screen and (min-width: 413px) and (max-width: 1439px) {
    main {
        max-width: 740px;
    }

    main > div {
        margin: 10px;
        width: 40%;
        max-width: 200px;
    }

}

/* Макет для десктопов */
@media only screen and (min-width: 1440px) {
    main {
        max-width: 960px;
    }

    main > div {
        margin: 15px;
        width: 30%;
        max-width: 400px;
    }

}