* {
    margin: 0;
    padding: 0;
    font-family: "arial";
}

nav, footer{
    display: flex;
    justify-content: space-between;
    background: wheat;
    padding: 20px;
}

nav a, footer p{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

nav div a{
    margin: 20px;
}

main {
    padding: 20px;
}

form {
    background-color: white;
    border-radius: 15px;
    border: 2px solid wheat;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 5px;
    font-weight: bold;
}

form button {
    margin: 20px auto 0;
    border-radius: 15px;
    border: 2px solid wheat;
    background-color: blanchedalmond;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    width: 150px;
}

input{
    border: none;
    border-bottom: 2px solid wheat;
}

main {
    display: flex;
    height: 90vh;
    flex-direction: column;
    background: url("images/adventure-time.jpg") no-repeat;
    background-size: 100% 100%;
}

main div {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main div h2{
    display: block;
    color: wheat;
}